@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');




/************************************Back Ground Control/the same on all pages*/

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;


}

@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
    dispLAY: NONE;
  }
}

body{
  background-image: url("https://hdqwalls.com/download/destiny-2-warmind-83-480x800.jpg")
  
}




.navbar {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 30px;

}














